<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name%><br>
    <%= f.text_field :user_name, placeholder: "Vvedite text" %>
  </div>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age, placeholder: "vozrast" %>
  </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body, placeholder: "Vvedite text"%>
    </div>
    <%= f.label :rating%>
      <%=  select_tag(:rating, options_for_select([['bad',1],['good',2],['best',3],2]))%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
