<p id="notice"><%= notice %></p>



<div class="title" id="title2"> <%= @article.title %> </div>


<div class="title"><%= @article.content %></div>
<div>
  <ul class="hr">
  <div>
    <ul class="hr">
    <li><%= link_to 'Edit', edit_article_path(@article) %> </li>
    <li><%= link_to 'Back', articles_path %></li>
    </ul>
  </div>
    </ul>
</div>
<div><%= render 'comments/form' %>
<div><%= render 'comments/all' %></div>
</div>